# ==============================
# IDEs
# ==============================
.idea/
*.iml
.vscode/
out/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Env (global safety net)
# ==============================
.env
.env.*
!.env.example