#server:
#  port: 8080
#
#spring:
#  datasource:
#    url: jdbc:postgresql://localhost:5432/todo_db
#    username: todo
#    password: todo
#  jpa:
#    hibernate:
#      ddl-auto: create-drop
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
#logging:
#  level:
#    org:
#      hibernate:
#        SQL: DEBUG
#        type:
#          descriptor:
#            sql:
#              BasicBinder: TRACE
#
#security:
#  jwt:
#    secret: "SUPER-GEHEIMES-DEV-SECRET"
#    expiration-minutes: 60

server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:familienplaner;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: false

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

security:
  jwt:
    secret: "SUPER-GEHEIMES-DEV-SECRET"
    expiration-minutes: 60